.small-card{
  width: 600px;
  margin-bottom: 10px;
  border-bottom: 1px solid;
  border-color: white;
  padding-bottom: 5px;

  display: flex;

}

.small-card__picture > img {
  width: 200px;
  margin-right: 10px;
}

.small-card__title > h1 {
  font-size: 25px;
  margin: 5px 0;
}

.small-card__description > p{
  font-size: 15px;
  color: gray;
}

.box-text > hr{
 margin-top: 5px;
}


